<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <DEBUG>TRUE</DEBUG>
  <DBHOST>127.0.0.1</DBHOST>
  <DBUSER>root</DBUSER>
  <DBPWD></DBPWD>
  <DBNAME>sundofus</DBNAME>
  <LOGIN_VERSION>1.29.1</LOGIN_VERSION>
  <LOGIN_IP>127.0.0.1</LOGIN_IP>
  <LOGIN_PORT>485</LOGIN_PORT>
  <GAME_ID>6</GAME_ID>
  <GAME_IP>127.0.0.1</GAME_IP>
  <GAME_PORT>5555</GAME_PORT>
  <START_MAP>10111</START_MAP>
  <START_CELL>255</START_CELL>
  <START_DIR>2</START_DIR>
  <START_LEVEL>100</START_LEVEL>
  <START_KAMAS>1000000</START_KAMAS>
</Settings>
